:root{
  --clr-dark-800: #050505;
  --clr-dark-700: #1f1f1f;
  --clr-dark-500: #2d2d2d;

  --clr-light-400: #f4f4f4;
  --clr-light-500: #e9e9e9;
  --clr-light-600: #757575;

  --clr-accent-100: #a445ed;

  --ff-sans-serrif: "Inter";
  --ff-serrif: "Lora";
  --ff-mono: "Inconsolata";

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  --fs-400: 1rem;
  --fs-500: 1.125rem;
}
  
@font-face {
  font-family: "Inconsolata";
  src: url("/public/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf"),
  url("/public/fonts/inconsolata/static/Inconsolata-Bold.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("/public/fonts/inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: "Lora";
  src: url("/public/fonts/lora/Lora-VariableFont_wght.ttf"),
        url("/public/fonts/lora/static/Lora-Bold.ttf");
}

/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
label,
figure {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}


/* Utility Classes */

.sans-serrif{
  font-family: var(--ff-sans-serrif);
}

.serrif{
  font-family: var(--ff-serrif);
}

.mono{
  font-family: var(--ff-mono);
}

.split {
  display: flex;
}

.flow-content > * + * {
  margin-top: var(--spacer, 0.875rem)
} 

/* general Styling */

body{
  font-size:var(--fs-400);
}

.container{
  padding: 1.5rem;
  max-width: 46rem;
  margin-inline: auto;
}

@media (min-width: 38em){
  .container{
    padding: 3.675rem 2.5rem;
  }
}